* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    FONT-FAMILY: "Inter", sans-serif;
}

html {
    font-size: 62.5%;
}

.body {
    background-color: black;
}
#screen{
    background-color: black;
}
.login-container {
    width: 65%;
    margin: 10rem auto;
    /* border: .1rem solid black; */
    display: flex;
    justify-content: space-between;
    border-radius: 2rem;

}

.left-side-content {
    width: 50%;
    border: none;

    /* border: .1rem solid blue; */
    /* background: linear-gradient(269.57deg,rgba(15,16,20,0.95.) 16.24%,rgba(15,16,20,0) 98.46%); */
    background: linear-gradient(269.57deg, rgba(15, 16, 20, 0.95) 16.24%, rgba(15, 16, 20, 0) 98.46%);
}

.left-side-content>img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border: none;
}

.right-side-content {
    width: 50%;
    /* border: .1rem solid blue; */
    background-color: #16181f;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border: none;

}

.close-btn {
    font-size: 2rem;
    text-align: right;
    padding: 1.6rem 2rem;
    color: white;
    cursor: pointer;
}

.right-main-wrapper {
    width: 80%;
    margin: auto;
    /* border: .1rem solid goldenrod; */
}

.right-main-wrapper>h3 {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: .04rem;
    color: white;
}

/* 
.email-login {
    border: .1rem solid #4B5166;
    padding: 1.5rem;
    margin-top: 2rem;
    color: #8F98B2;

}

.email-login>input {
    font-size: 1.6rem;
    color: #8F98B2;
    border: none;
    outline: none;
    background-color: #16181f;

}

.login-password {
    border: .1rem solid #4B5166;
    padding: 1.5rem;
    margin-top: 2rem;
}

.login-password>input {
    font-size: 1.6rem;
    color: #8F98B2;
    border: none;
    outline: none;
    background-color: #16181f;
} */

div.input-container {
    position: relative;
    margin-top: 2rem;
}

div.input-container input {
    font-weight: 500;
    font-size: 1.5rem;
    color: #8F98B2;
    width: 100%;
    padding: 1rem 1.7rem;
    border-radius: .5rem;
    border: .1rem solid #8F98B2;
    outline: none;
    background-color: #16181f;
}

div.input-container span.placeholder {
    position: absolute;
    margin: 1rem 0;
    padding: 0 .4rem;
    font-family: Roboto, sans-serif;
    color: #8F98B2;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    top: 0;
    left: 1.7rem;
    transition: all 0.2s;
    transform-origin: 0% 0%;
    background: none;
    pointer-events: none;
}

div.input-container input:valid+span.placeholder,
div.input-container input:focus+span.placeholder {
    transform: scale(0.8) translateY(-18px);
    background: #16181f;
}

div.input-container input:focus {
    color: #8F98B2;
    border-color: #8F98B2;
}

div.input-container input:focus+span.placeholder {
    color: #8F98B2;
}

/* ---------------------- */

.get-help-line {
    color: #8F98B2;
    font-size: 1.4rem;
    /* margin-top: 1rem; */
    text-align: center;
    letter-spacing: .04rem;
    margin-bottom: 2rem;
}

.get-help-line>a {
    color: #3586F0;
    font-weight: 600;
    text-decoration: none;
}

.submit-btn {
    display: block;
    margin: 2rem auto;
    outline: none;
    border: none;
    background: linear-gradient(to right, #0957e1 0%, #062997 100%);
    color: white;
    font-weight: 600;
    border-radius: .5rem;
    width: 35%;
    padding: 1rem;
    cursor: pointer;
    letter-spacing: .04rem;

}

/* --------------- index page--------------------------------------------------------------- */

.container {
    width: 100%;
    /* border: .1rem solid orange; */
    display: flex;
    justify-content: space-between;
}

.single-page-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cart-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.left-side-navbar {
    width: 10%;
    /* border: .1rem solid blue; */
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    height: 100vh;

}
.left-side-navbar:hover{
    background: linear-gradient(to right, #000 0%, #00000000 100%); 

}
.right-main-content {
    width: 100%;
    /* border: .1rem solid green; */
    background-color: #0f1014;

}

.hotstar-logo-wrapper {
    width: 40%;
    margin: 2rem ;
}

.hotstar-logo-wrapper>img {
    width: 100%;
    height: 100%;
}

.subscribe-btn {
    border: .1rem solid #ccb371;
    width: 60%;
    padding: .6rem;
    margin: 2rem ;
    text-align: center;
    border-radius: 1.4rem;
    background-color: #27231e;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.subscribe-btn>a {
    color: #ccb371;
    font-size: 1rem;
    letter-spacing: .03rem;
    text-decoration: none;

}.subscribe-btn>i {
    color: #ccb371;
    font-size: 1rem;
}

.navbar {
    display: flex;
    flex-direction: column;
    /* border: .1rem solid gray; */
    /* background: linear-gradient(to right, #0c111b 0%, #0c111b00);  */
    height: 100%;

}

.navbar:hover div{
    opacity: 1;

}

.nav-link {
    width: 100%;
    margin: 1rem auto 3rem auto;
    /* border: .1rem solid olive; */
    text-align: center;

}

.nav-link>a {
    width: 100%;
    font-size: 1.6rem;
    color: #949496;
    text-decoration: none;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    /* border: .1rem solid red; */
}
.nav-link a i{
    width: 20%;
}
.nav-link a div{
    width: 50%;
    opacity: 0;

}
.nav-link  :hover{
    transition: all .1s ease-out;
}
.nav-link:hover a i {
    color: white;
    cursor: pointer;
    transform: scale(1.1);

}
.nav-link:hover a  div{
    color: white;
    cursor: pointer;
    transform: scale(1.1);

}
.my-space-img {
    width: 30%;
    height: 30%;
    margin: 0 auto;
}

.my-space-img>img {
    width: 100%;
    height: 100%;
}

.top-head {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    /* border: .2rem solid green; */
    padding: 2rem;
    background-color: #0f1014;
    margin-left: 10%;


}

.top-header-img {
    width: 49%;
}

.top-header-img>img {
    width: 100%;
    height: 100%;
}

.h-sub-desc {
    width: 49%;
    /* border: .1rem solid green; */
    background-color: #16181f;
    padding: 2rem;

}

.h-desc-top-info {
    display: flex;
    justify-content: space-between;
    width: 60%;

}

.h-img {
    width: 20%;
}

.h-img>img {
    width: 100%;
    height: 100%;
}

.h-r-info {
    width: 75%;
    padding: 1rem 0rem;
}

.h-r-info>p:nth-child(1) {
    font-size: 1.6rem;
    color: white;
    font-weight: 600;
    letter-spacing: .04rem;

}

.h-r-info>p:nth-child(2) {
    font-size: 1.3rem;
    color: white;
    letter-spacing: .04rem;

}

.t-r-para {
    font-size: 1.5rem;
    color: white;
    letter-spacing: .04rem;
    margin-top: 1rem;
}

.i-sub-btn {
    width: 23%;
    border: .1rem white;
    outline: none;
    padding: 1rem;
    font-size: 1.4rem;
    letter-spacing: .03rem;
    font-weight: 600;
    color: white;
    text-transform: capitalize;
    background-color: #252833;
    border-radius: 1rem;
    margin-top: 5.5rem;
    cursor: pointer;
}

.right-second-video {
    width: 100%;
}

.video {
    width: 100%;
    /* height: 115vh; */
    /* border: .2rem solid gold; */
    position: relative;

}


.video-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* border: .2rem solid red; */
    position: absolute;
    padding: 0rem 10rem 5rem 10rem;
    margin-top: -40rem;
    /* background: linear-gradient(to right, #0c111b 0%, #0c111b00);  */
    /* background: linear-gradient(to bottom, rgba(4, 8, 15, 0), #050505 90%); */


}

.video-info-left-side {
    width: 50%;
    /* border: .1rem solid yellowgreen; */
    display: flex;
    flex-direction: column;
}

.video-info-right-side {
    width: 35%;
    /* border: .1rem solid yellowgreen; */

}

.v-left-top {
    /* border: .1rem solid palevioletred; */
    width: 98%;
    margin: auto;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    color: white;

}
.video-name-img{
    width: 75%;
    /* border: .1rem solid purple; */
    visibility: hidden;

}
.video-name-img>img{
    width: 100%;
    height: 100%;
}
.v-left-bottom {
    /* border: .1rem solid palevioletred; */
    width: 98%;
    margin: auto;
    display: flex;
    justify-content: space-between;


}

.v-watch-now-btn {
    width: 80%;
    /* border: .1rem solid yellow; */


}

.v-watchlist-btn {
    width: 10%;
    /* border: .1rem solid yellow; */
}

.v-watchlist-btn>button {
    width: 100%;
    padding: 1rem;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    color: white;

}

.v-watchlist-btn>button>span>i {
    color: white;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: .04rem;
}

.v-watch-now-btn>a>button {
    width: 100%;
    color: white;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;

}

.v-watch-now-btn>a>button>span {
    color: white;
    padding: 0rem .4rem;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: .04rem;
    cursor: pointer;
}

.v-watch-now-btn>a>button {
    cursor: pointer;
}

.v-season-ep-info {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.8rem;
}

.v-season-ep-info>span {
    color: white;
    font-size: 1.6rem;
    letter-spacing: .02rem;
    font-weight: 600;
    width: auto;

}

.restriction {
    background: rgba(255, 255, 255, 0.2);
    padding: .6rem;
    text-align: center;
    border-radius: .5rem;

}

.v-gener {
    display: flex;
    justify-content: space-between;
    /* gap: 2rem; */
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}

.gener-span-wrapper {
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    /* border: .1rem solid red; */
    width: auto;
    gap: 1rem;
}

.s-line-icon {
    width: 10%;
    /* border: .1rem solid blue; */
    text-align: center;
    width: auto;
    font-weight: 700;
    color: white;

}

.s-gener-name {
    width: 95%;
    /* border: .1rem solid greenyellow; */
    font-size: 1.4rem;
    width: auto;
    color: white;
    font-weight: 600;

}

.content-container-wrapper {
    width: 92%;
    /* border: .2rem solid orange; */
    margin-left: 8%;
    margin-top: 3%;
}

.latest-trending {
    width: 100%;
    /* border: .2rem solid greenyellow; */
}

.section-heading {
    font-size: 2em;
    color: white;
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: .04rem;

}

.section-list {
    width: 100%;
    height: 26rem;
    position: relative;
    margin: 1rem 0 2rem;
}

.card-container {
    position: absolute;
    width: 97%;
    height: 24rem;
    display: flex;
    margin: 0 auto;
    padding-left: 1rem;
    align-items: center;
    overflow-x: auto;
    overflow-y: visible;
    scroll-behavior: smooth;

}

.card-container::-webkit-scrollbar {
    display: none;
}

.card {
    position: relative;
    min-width: 18rem;
    width: 18rem;
    height: 28rem;
    border-radius: .5rem;
    overflow: hidden;
    margin-right: 1.6rem;
    transition: .5s;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.2);
}

.card:hover .card-body {
    opacity: 1;
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.card-button {
    /* position: absolute; */
    padding: .6rem;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: .02rem;
    width: 100%;
    margin-top: 80%;
    cursor: pointer;
    border: none;
    outline: none;
}


.card-section-info {
    display: flex;
    gap: .8rem;
    align-items: center;
    margin-top: 1rem;
    text-transform: capitalize;
}

.card-section-info>span {
    font-size: 1rem;
    color: white;
   
}
.gener-info{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-para {
    font-size: 1.2rem;
    color: #8F98B2;
    letter-spacing: .02rem;
    margin-top: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-body {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    /* bottom: 0; */
    left: 0;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(4, 8, 15, 0), #192133 90%);
    transition: .5s;
    padding: 1rem 1rem 1rem 1rem;
    opacity: 0;

}

.pre-btn {
    position: absolute;
    top: 0;
    width: 5%;
    height: 100%;
    z-index: 2;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 2rem;
    left: 0;
    background: linear-gradient(to right, #0c111b 0%, #0c111b00); 
    color: white;
}


.next-btn {
    position: absolute;
    top: 0;
    width: 5%;
    height: 100%;
    z-index: 2;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 2rem;
    right: 0;
    background: linear-gradient(to left, #0c111b 0%, #0c111b00);
    color: white;

}

.pre-btn i,
.next-btn i {
    width: 1.5rem;
    height: 2rem;
    opacity: 0;
}

.pre-btn:hover i,
.next-btn:hover i {
    opacity: 1;
}

/* different---category--section---------------------- */

.different-categories {
    margin: 1rem 0rem;
    width: 100%;
    /* border: .2rem solid orange; */
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
}

.d-category {
    width: 15%;
    /* border: .1rem solid yellow; */
    border-radius: 1rem;
    cursor: pointer;
}

.d-category>img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;

}

/* popular  genres section-------------------------------------- */

.genres-list {
    width: 100%;
    height: 17rem;
    position: relative;
    margin: 1rem 0 2rem;
}

.genres-container {

    position: absolute;
    width: 97%;
    height: 15rem;
    display: flex;
    margin: 0 auto;
    padding-left: 1rem;
    align-items: center;
    overflow-x: auto;
    overflow-y: visible;
    scroll-behavior: smooth;

}

.genres-container::-webkit-scrollbar {
    display: none;
}

.genre {
    position: relative;
    min-width: 25rem;
    width: 25rem;
    height: 30rem;
    border-radius: .5rem;
    overflow: hidden;
    margin-right: 1.6rem;
    transition: .5s;
    cursor: pointer;

}

.genre:hover {
    transform: scale(1.1);
}

.genre .card-image {
    width: 100%;
    height: 100%;
    object-fit: contain;

}


/* footer--------------------------------------------------------------------------- */

.footer {
    width: 100%;
    padding: 2rem 3rem 3rem 0;
}

.first-footer {
    display: flex;
    justify-content: space-between;
    /* border: .2rem solid red; */
}

.footer-menus {
    width: 23%;
    /* border: .1rem solid yellow; */
}

.connect-w-us {
    width: 23%;
    /* border: .1rem solid yellow; */

}

.footer-menus-lang {
    width: 23%;
    /* border: .1rem solid yellow; */
}

.footer-menus-lang>a {
    color: #8F98B2;
    font-size: 1.4rem;
    text-decoration: none;
    text-transform: capitalize;
}

.footer-link-head {
    color: white;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.company-links {
    display: flex;
    flex-direction: column;
}

.company-links>a {
    color: #8F98B2;
    font-size: 1.4rem;
    text-decoration: none;
    text-transform: capitalize;
    margin-bottom: .6rem;

}

.h-help {
    display: flex;
    flex-direction: column;
}

.h-help>a {
    color: #8F98B2;
    font-size: 1.4rem;
    text-decoration: none;
    text-transform: capitalize;
    margin-bottom: .6rem;
}

.footer-icons {
    display: flex;
    justify-content: left;
    gap: 3rem;
    padding-top: 1rem;
    align-items: center;
}

.footer-icons>a {
    color: white;
    font-size: 1.6rem;
}

.second-footer {
    width: 100%;
    /* border: .1rem solid orange; */
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.t-conditions {
    width: 65%;
    /* border: .1rem solid blue; */
    display: flex;
    flex-direction: column;
}

.app-images-container {
    width: 35%;
    /* border: .1rem solid blue; */
    display: flex;
    gap: 3rem;
    justify-content: right;
}

.t-conditions>span {
    color: #8F98B2;
    font-size: 1.4rem;
    text-decoration: none;
    text-transform: capitalize;
    margin-bottom: .6rem;
}

.t-conditions>span>a {
    color: #8F98B2;
    font-size: 1.4rem;
    text-decoration: none;
    text-transform: capitalize;
    margin-bottom: .6rem;
    margin-right: 1.4rem;
}

.playstore-img {
    width: 30%;
}

.playstore-img>img {
    width: 100%;
    height: 100%;
}

.appstore-img {
    width: 30%;
}

.appstore-img>img {
    width: 100%;
    height: 100%;
}

.movies-recommendation>.section-heading>span:nth-child(2) {
    margin-left: 2rem;
    color: gray;
    cursor: pointer;
}

.movies-recommendation>.section-heading>span {
    cursor: pointer;
}


/* cart page---------------------------------------------------------------------------- */

.cart-screen {
    width: 100%;
}

.cart-main-content-wrapper {
    width: 90%;
    margin-left: 10%;
    /* border: .2rem solid orange; */
    padding: 2rem 2rem 2rem 0;
}

.c-m-content-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.left-side-cart-section {
    width: 65%;
    /* border: .1rem solid blue; */
    padding: 0rem 2rem 2rem 2rem;
    background-color: #16181f;
    height: 100%;
}

.right-side-cart-section {
    width: 33%;
    height: 100%;
    /* border: .1rem solid yellow; */
    padding: 2rem 2rem 1rem 2rem ;
    background-color: #16181f;

}

.hs-content-wrap {
    width: 100%;
    /* border: .1rem solid red; */
    display: flex;
    justify-content: space-between;
    border-bottom: .1rem solid rgb(60, 60, 60);
    margin-top: 2rem;
    padding-bottom: 1.5rem;
}

.hs-c-image {
    width: 20%;
    /* border: .1rem solid green; */
    /* padding: 2rem 0 ; */
}
.left-side-cart-section .hs-content-wrap:nth-child(4){
    border-bottom: none;
}
.hs-c-image>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hs-c-description {
    width: 80%;
    /* border: .1rem solid green; */
    padding: 1rem 2rem;
}

.hs-movie-name {
    width: 100%;
    color: white;
    text-transform: capitalize;
    font-size: 1.8rem;
    letter-spacing: .02rem;
    font-weight: 600;
}

.cart-price-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    letter-spacing: .02rem;
    margin-top: 1.6rem;
    gap: 1.4rem;
}

.strike-price {
    color: #8F98B2;
    text-decoration: line-through;
    font-weight: 500;
    font-size: 1.5rem;
}

.c-actual-price {
    color: white;
    font-weight: 500;
    font-size: 1.7rem;
}

.c-offer-percent {
    color: #3586F0;
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.c-offer-txt {
    color: #3586F0;
    font-weight: 600;
    font-size: 1.5rem;
    /* text-transform: capitalize; */

}

.c-customize-btns {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

.save-btn {
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    letter-spacing: .03rem;

}

.c-remove-btn {
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    letter-spacing: .03rem;

}

.c-p-txt-head {
    width: 100%;
    color: white;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: .02rem;
    font-weight: 600;
    padding: 0 0 2.6rem 0;
    border-bottom: .1rem solid rgb(60, 60, 60);
}

.product-qty-pr {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

.product-pr-txt {
    width: 50%;
    color: white;
    font-size: 1.5rem;
    text-transform: capitalize;
    letter-spacing: .04rem;

}

.product-price-rs {
    width: 50%;
    color: white;
    font-size: 1.5rem;
    text-align: right;
    letter-spacing: .04rem;
}
.product-discount-pr{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    padding: 0 0 3rem 0;
    border-bottom: .1rem solid rgb(60, 60, 60);

}
.product-discount-txt{
    width: 50%;
    color: white;
    font-size: 1.5rem;
    text-transform: capitalize;
    letter-spacing: .04rem;
}
.product-discount-rs{
    width: 50%;
    color: rgb(20, 164, 9);
    font-size: 1.5rem;
    text-align: right;
    letter-spacing: .04rem;
}
.product-total-pr{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}
.product-total-txt{
    width: 50%;
    color: white;
    font-size: 1.6rem;
    text-transform: capitalize;
    letter-spacing: .04rem;
    font-weight: 700;

}
.product-total-rs{
    width: 50%;
    color: white;
    font-size: 1.6rem;
    text-align: right;
    font-weight: 700;
    letter-spacing: .04rem;
}
.c-place-order-btn{
    display: block;
    margin: 3rem auto;
    outline: none;
    border: none;
    background: linear-gradient(to right, #0957e1 0%, #062997 100%);
    color: white;
    font-weight: 600;
    border-radius: .5rem;
    width: 100%;
    padding: 1.4rem 1rem;
    cursor: pointer;
    letter-spacing: .04rem;
    text-transform: uppercase;
}





















